# Ignore all files in the 'dist' directory

**/dist/**/*
**/coverage/*
**/.next/*

# Ignore all '.min.js' files
*.min.js

# Temporary measure while migrating nodes
holding/**/*

.github
.husky
.turbo
.yarn

# ignore Service Worker files
/public/sw.js
/public/workbox-*.js

