@tailwind base;

@tailwind components;

@tailwind utilities;

// React Diagrams must have explicit width and height
.fullsize {
    width: 100vw;
    height: 70vh;

    // GRID BACKGROUND...
    // background-size: 50px 50px;
    // display: flex;
    // background-image: linear-gradient(
    //         0deg,
    //         transparent 44%,
    //         darkgray 45%,
    //         darkgray 46%,
    //         transparent 47%,
    //         transparent 94%,
    //         darkgray 95%,
    //         darkgray 96%,
    //         transparent 97%,
    //         transparent
    //     ),
    //     linear-gradient(
    //         90deg,
    //         transparent 44%,
    //         darkgray 45%,
    //         darkgray 46%,
    //         transparent 27%,
    //         transparent 94%,
    //         darkgray 95%,
    //         darkgray 96%,
    //         transparent 97%,
    //         transparent
    //     );    
}

// Fixes link labels
foreignObject > div > div{
    background-color: transparent !important;
    padding: 0px !important;
    position:absolute  !important;
    top:3px !important;
}

.Toastify__toast-body {
    background: #E5E7EB;
    font-family: monospace;
    color: #4499AF;

}
.Toastify__toast {
    background: #E5E7EB !important;
}