@import '@xyflow/react/dist/style.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Webkit (Chrome, Safari, Edge) scrollbar styles */
.scrollbar::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent !important;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #e5e7eb !important;
  border-radius: 3px !important;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #d1d5db !important;
}

/* Firefox scrollbar styles */
.scrollbar {
  scrollbar-width: thin !important;
  scrollbar-color: #e5e7eb transparent !important;
}

@layer components {
  .ͼ1.cm-focused {
    @apply outline-none !important;
  }
}

.ͼ1.cm-focused {
    outline: none !important;
}
