name: core CI

on: [push, pull_request]

jobs:
  test_core:
    defaults:
      run:
        working-directory: ./packages/core
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18.x'

      - name: Install dependencies
        run: yarn
      - name: Build
        run: yarn tsc
      - name: Run tests
        run: yarn test

  publish_core:
    needs: test_core
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./packages/core
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '18.x'
        registry-url: 'https://registry.npmjs.org'

    - name: Check version
      id: check
      run: |
        PACKAGE_VERSION=$(node -p -e "require('./package.json').version")
        echo "Version: $PACKAGE_VERSION"
        HTTP_STATUS=$(curl --silent --head --write-out "%{http_code}" --output /dev/null https://registry.npmjs.org/@data-story/core/$PACKAGE_VERSION)

        if [ $HTTP_STATUS -eq 200 ]; then
          echo "Version $PACKAGE_VERSION already exists. Exiting the action script."
          echo "VERSION_EXISTS=true" >> $GITHUB_ENV
        else
          echo "Version does not exist."
          echo "VERSION_EXISTS=false" >> $GITHUB_ENV          
        fi

    - name: Install dependencies
      if: ${{ env.VERSION_EXISTS == 'false' }}    
      run: yarn

    - name: Build
      if: ${{ env.VERSION_EXISTS == 'false' }}    
      run: yarn tsc

    - name: Bundle
      if: ${{ env.VERSION_EXISTS == 'false' }}    
      run: npx webpack      
    
    - name: Publish
      if: ${{ env.VERSION_EXISTS == 'false' }}    
      run: npm publish      

      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_DATA_STORY }}
